@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<link href="~/Content/week2CSS.css" rel="stylesheet" />
<p>Use this area to provide additional information.</p>
<div class="preview">
    <div class="previewsecondLevel">Try it myself</div>
    <p>Hello World</p>
</div>
<div class="preview2">
    <div class="preview2secondLevel">Try it myself with more style element</div>
    <p>Shiyu Wu 30199050</p>
</div>
<link href="~/Content/week2CSS.css" rel="stylesheet" />