.previewsecondLevel {
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.preview2 {
    background-color: green;
    height: 200px;
    width: 50%;
}

p {
    background-color: yellow;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 100;
}

